@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: 'Nunito Sans', system-ui;
  outline-color: var(--primary);
  box-sizing: border-box;
}

:root {
  /*no changed vars*/
  --error: #ff2a2e;
  --warning: #a88d21;
  /*changed vars*/
  --white: #ffffff;
  --primary: #5661f6;
  --white-static: #ffffff;
  --gray-light: #c2c2c2;
  --border-color: #4c4c4c;
  --dark: #212121;
  --light: #151515;
  --gray-dark: #2e2e2e;
  --gray: #404040;
}
[data-theme='light'] {
  --primary: #5661f6;
  --white: #383b59;
  --gray-light: #808080;
  --border-color: #e9e9e9;
  --dark: #f7f7f7;
  --light: #ffffff;
  --gray-dark: #ffffff;
  --gray: #fff;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--white);
  background: var(--dark);
}
#root {
  width: inherit;
  height: inherit;
}

p,
a,
select,
input,
li,
button {
  font-size: 1em;
  color: inherit;
}
h1 {
  font-size: 5em;
}
h2 {
  font-size: 3.5em;
}
h3 {
  font-size: 2.25em;
}
h4 {
  font-size: 1.8em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1.25em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button,
a,
select {
  cursor: pointer;
}
button:disabled,
select:disabled,
input:disabled {
  cursor: no-drop;
}

/*scrollbar styles*/
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  margin: 3px 0;
  background: var(--gray-dark);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}
*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb {
  border: 3px solid var(--dark);
  border-radius: 20px;
}
*::-webkit-scrollbar-thumb:active {
  background: var(--primary);
}
