.wrapper {
  position: relative;
  z-index: 5;
}

.wrapper > button.fullDropdown {
  display: flex;
  align-items: center;
  gap: 28px;
}
.wrapper > button.fullDropdown > div {
  display: flex;
  align-items: center;
  gap: 8px;
}
.wrapper > button.fullDropdown > div > svg {
  margin-top: -1px;
}
.wrapper > button.mobDropdown {
  width: 32px;
  aspect-ratio: 1;
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  border-color: transparent !important;
  border-radius: 8px;
}

.dropdown {
  position: absolute;
  width: 100%;
  margin: 5px 0 0 0;
  padding: 0;

  list-style: none;
  background: var(--gray-dark);
  border: 1px solid var(--border-color);
  border-radius: 8px;
}
.dropdown > li {
  padding: 0.65em 1.25em;
  border-bottom: 1px solid var(--border-color);
}
.dropdown > li:last-child {
  border-bottom: 0;
}
.dropdown > li > a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: 0.15s;
}
.dropdown > li > a:hover {
  opacity: 0.65;
}

/*media*/
@media (max-width: 1400px) {
  .dropdown > li {
    padding: 0.45em 0.75em;
  }
  .dropdown > li > a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .wrapper > button.fullDropdown {
    display: none;
  }
  .wrapper > button.mobDropdown {
    display: flex;
  }
  .dropdown {
    width: 200px;
    right: 0;
  }
}
