.wrapper {
  width: 100%;

  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: flex-start;
}
.wrapper h1 {
  font-size: 26px;
}
.wrapper h2 {
  font-size: 24px;
}
.wrapper h3 {
  font-size: 22px;
}
.wrapper h4 {
  font-size: 20px;
}
.wrapper h5 {
  font-size: 18px;
}
.wrapper h6 {
  font-size: 16px;
}

.wrapper.robot {
  grid-template-columns: 1fr 10%;
}
.wrapper > .message {
  display: grid;
  grid-template-columns: 32px 1fr;
  align-items: flex-start;
  gap: 1.25em;
}
.wrapper.user > .message {
  margin-left: auto;
  padding: 1.5em 2em;
  background: var(--gray-dark);
  border-radius: 50px 0 0 50px;
  border: 1px solid var(--border-color);
  border-right: none;
}

/*text*/
.message > div {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  align-items: flex-start;
}
/*text block with formatted text from sse*/
.message > div > div {
  margin-top: 6px;
}
.message > div > div::first-letter {
  text-transform: uppercase;
}

/*file in message*/
.file {
  width: 165px;
  padding: 0.5em 0;
  background: none;
  border: 2px solid var(--primary);
  border-radius: 25px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: underline;
  transition: 0.15s;
}
.file:hover {
  opacity: 0.75;
}
.file:disabled {
  background: var(--gray);
  border-color: var(--gray);
  text-decoration: none;
}
.file:disabled:hover {
  opacity: 1;
}

/*time*/
.time {
  height: 32px;
  padding: 0 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--gray-dark);
  border: 1px solid var(--border-color);
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-light);
  opacity: 0;
  z-index: -1;
  transition: 0.225s;
}
.wrapper.robot .time {
  margin-left: auto;
  color: var(--primary);
  transform: translateX(150px);
}
.wrapper.user .time {
  margin-right: auto;
  transform: translateX(-150px);
}
.wrapper:hover .time {
  opacity: 1;
  transform: translateX(0);
}
