.item {
    gap: 0.25rem !important;
}
.item > span {
    max-width: 100%;
    font-size: 0.85rem;
    color: var(--gray-light);
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.item > h2 {
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 800;
}