.item {
  gap: 0.25rem;
}
.item > span {
  max-width: 100%;
  font-size: 0.85rem;
  color: var(--gray-light);
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item > h2 {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 800;
}

/*media*/
@media (max-width: 1200px) {
  .item {
    gap: 0.125rem;
  }
  .item > h2 {
    font-size: 1.25rem;
  }
}
@media (max-width: 768px) {
  .item {
    padding: 1em;
  }
}
