.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

/*header*/
.container > header > label {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-light);
  margin-left: 1.25rem;
}
.container > header {
  display: flex;
  align-items: center;
  gap: 12px;
}
.container > header svg {
  stroke: var(--white);
}

/*input*/
.input {
  width: 100%;
  background: var(--light);
  border: 1px solid var(--border-color);
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  transition: 0.15s;
}
.input:disabled {
  background: var(--dark);
}

/*sizes*/
.input.sm {
  padding: 1rem;
  font-size: 14px;
  max-height: 2.25rem;
}
.input.md {
  padding: 1.5rem;
  max-height: 3rem;
  font-size: 16px;
}

/*tooltip*/
.tooltip {
  max-width: 300px;
}
