.button {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--gray-light) !important;
}
.button > svg path {
  stroke: var(--gray-light);
}
.button:hover > svg path {
  stroke: var(--primary);
}

.modalBody {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.modalBody > p > b {
  color: var(--primary);
  font-weight: inherit;
}

/*media*/
@media (max-width: 1400px) {
  .button {
    white-space: nowrap;
  }
}
