.wrapper {
  height: inherit;
  display: flex;
}
.content {
  flex: 1;
  display: grid;
  grid-template-rows: 64px 1fr;
  overflow-y: hidden;
}
.content.withAlert {
  grid-template-rows: 64px 50px 1fr;
}
.main {
  overflow-y: auto;
}

/*media*/
@media (max-width: 1400px) {
  .content {
    grid-template-rows: 52px 1fr;
  }
  .content.withAlert {
    grid-template-rows: 52px 50px 1fr;
  }
}
