.form {
  width: 650px;
}
.form > div {
  display: flex;
  gap: 1em;
}
.form > footer {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1em;
}
.form > footer > button {
  height: 50px;
}

/*media*/
@media (max-width: 768px) {
  .form {
    width: 100%;
  }
  .form > div {
    flex-direction: column;
  }
  .form > footer {
    grid-template-columns: 1fr;
    gap: 0.5em;
  }
  .form > footer > button {
    height: auto;
  }
}
