.form {
  width: 650px;
}
.form > div {
  display: flex;
  gap: 1em;
}
.form > footer {
  margin-top: 1.5em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1em;
}
.form > footer > button {
  height: 50px;
}
