.wrapper {
  max-width: 600px;
  padding: 1em;
  border-radius: 16px;
  border: 1px solid var(--error);
  text-align: center;
}
.wrapper > footer {
  margin-top: 0.75em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75em;
}

/*media*/
@media (max-width: 1400px) {
  .wrapper {
    padding: 0.65em;
  }
  .wrapper > p {
    font-size: 14px;
  }
}
