.wrapper {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.wrapper > footer {
  display: flex;
  gap: 1em;
}
.wrapper > footer > button {
  flex: 1;
}

.drop {
  position: relative;
  padding: 30px 10%;

  display: flex;
  align-items: center;
  gap: 1.5em;

  border: 2px dashed var(--gray-light);
  border-radius: 16px;
  color: var(--white);
  transition: 0.15s;
  opacity: 0.6;
}
.drop > svg {
  stroke: var(--white);
}
.drop > div h5 {
  margin-bottom: 0.25em;
  font-size: 18px;
  font-weight: 500;
}
.drop:hover,
.drop.isDrag {
  opacity: 1;
  border: 2px dashed var(--white);
}
.drop > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/*fileList*/
.fileList > h6 {
  font-weight: 600;
  font-size: 18px;
}
.fileList > ul {
  max-height: 45vh;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  list-style: none;
}
.file {
  height: 48px;
  margin: 12px 0;
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 12px;
}
.file > div,
.file > button {
  padding: 0 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--gray);
  border: 1px solid var(--border-color);
  border-radius: 12px;
}
.file > div {
  display: grid;
  grid-template-columns: 16px 1fr 60px;
  align-items: center;
  gap: 12px;
}
.file.error > div {
  border: 1px solid var(--error);
}
.file > div > small {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
}
.file > div > small.size {
  text-align: right;
  font-size: 12px;
}
.file.error > div > small.size {
  color: var(--error);
  font-weight: 700;
}
.file > div > svg {
  stroke: var(--primary);
}

.file > button {
  aspect-ratio: 1;
  justify-content: center;
  transition: 0.15s;
}
.file > button > svg {
  stroke: var(--white);
  scale: 1.3;
}
.file > button:hover {
  background: var(--border-color);
}
.file > button:hover > svg {
  stroke: var(--error);
}
