.wrapper {
}
.wrapper::-webkit-scrollbar {
  width: 12px;
}
.wrapper::-webkit-scrollbar-track {
  margin: 16px 0;
}
.wrapper::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}
.wrapper::-webkit-scrollbar-track,
.wrapper::-webkit-scrollbar-thumb {
  border: 3px solid var(--gray-dark);
}

.header {
  width: 100%;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25em;
}
.header > h3 {
  font-size: 1.35rem;
  color: var(--white);
  font-weight: 500;
}
.btnClose {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.75rem;
  padding: 0.55rem 0.5rem !important;
}
.content {
  display: flex;
}
