.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.block > label {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-light);
  margin-left: 1.25rem;
}
.block > textarea {
  max-width: 100%;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  background: var(--light);
  border: 1px solid var(--border-color);
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
  transition: 0.15s;
}
.block .actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
