.header {
  width: 700px;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.header > p {
  font-size: 14px;
  line-height: 1.45rem;
}
.header > p > b {
  font-weight: initial;
  padding: 0 0.45rem;
  color: var(--white-static);
  background-color: var(--warn);
  border-radius: 1rem;
}

.form {
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.block > label {
}
.block > textarea {
  max-width: 100%;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  background: var(--light);
  border: 1px solid var(--border-color);
  font-size: 1em;
  font-weight: 500;
  color: var(--white);
  resize: none;
  transition: 0.15s;
}
.block > textarea::-webkit-scrollbar {
  width: 12px;
}
.block > textarea::-webkit-scrollbar-track,
.block > textarea::-webkit-scrollbar-thumb {
  margin: 8px 0;
  border: 3px solid var(--light);
}

.infoBlock {
  padding: 0.75rem 1rem;
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--warn);
}
.infoBlock > p {
  color: var(--white);
  text-align: center;
}

.rowWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: inherit;
}
